@font-face {
  font-family: "Sporting Grotesque";
  font-weight: bold;
  font-style: normal;
  src: url("https://files.cargocollective.com/c597238/Sporting_Grotesque-Bold_web.woff") format("woff");
}

@font-face {
  font-family: "Sporting Grotesque";
  font-weight: normal;
  font-style: normal;
  src: url("https://files.cargocollective.com/c597238/Sporting_Grotesque-Regular_web.woff") format("woff");
}

/* MAIN GRID & ELEMENTS */
body {
  padding-left: 60px;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: left;
  font-family: "Sporting Grotesque";
  font-size: 11px;
  display: grid;
  grid-template-columns: 240px auto;
  row-gap: 4%;
}

/* SIDEBAR */
.logo {
  width: 180px;
}

.logo img {
  width: 180px;
}

.sidebar {
  position: fixed;
  top: 8vh;
}

.menu {
  min-width: 180px;
  max-width: 220px;
  line-height: 160%;
  height: 80%;
}

.menu a {
  display: block;
  margin-top: 20px;
}

/* ARCHIVES */
.archives {
  position: fixed;
  top: 14.2vh;
  left: 400px;
}

.archives a {
  display: block;
  margin-top: 20px;
}

/* FOOTER */
.footer {
  position: fixed;
  bottom: 40px;
  width: 120px;
}

.footer img {
  width: 120px;
}

.lnm {
  position: fixed;
  right: 60px;
  bottom: 35px;
  width: 30px;
}

.lnm span {
  position: absolute;
  right: 60px;
  bottom: 3px;
  visibility: hidden;
}

.lnm img:hover+span {
  visibility: visible;
}

.lnm img {
  width: 100%;
  cursor: alias;
}

.lnmtext {
  color: #3f3e61;
  text-align: right;
  height: 35px;
  width: 890px;
}

/* ARTICLES */
.article {
  grid-column: 2;
  overflow: hidden;
}

.content1 {
  text-align: center;
  margin-bottom: 40px;
  margin-right: 5%;
}

.content1 img {
  min-width: 400px;
  max-width: 50%;
}
.content2 {
  text-align: left;
}

.content2 img {
  width: 90%;
  margin-top: 5%;
}

.info {
  margin-top: 40px;
  padding-right: 12%;
}

/* A PROPOS */
h4 {
  text-decoration: underline;
  font-weight: normal;
  margin: 0;
}

.apropos {
  grid-column: 2;
  margin-left: 12%;
  margin-top: 16%;
  padding-right: 30%;
}

.apropos p {
  margin-top: 0;
}

/* GENERAL */
a {
  color: black;
  text-decoration: none;
}

.lighthover,
.lighthover a {
  text-decoration: none;
  color: black;
}

.lighthover a:hover,
.lighthover:hover {
  text-decoration: none;
  color: grey;
}
